doctype html
html(lang="en")
  head
    title Redis JSON Display
    meta(charset="utf-8")
    | <style type="text/css">
    include main.css
    | </style>
  body
    table
      caption Outstanding Debtors to BankTywin, Ranked by Amount Owed
        tr
          th Debtor Name
          th Gold Pieces Owed
          th Status
          if balances.length
            each balance in balances
              if balance
                tr
                  td #{balance.first_name} #{balance.last_name}
                  td #{balance.balance}
                  td #{balance.status}
